<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.11.0/css/alertify.min.css" />
    <link rel='stylesheet' href='/stylesheets/alert.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="columns" style="margin-bottom:0px;">
      <div class="column is-2">
        <aside class="menu">
          <div class="menu-header">
            <h1 class="is-size-3">
              <span class="has-text-weight-semibold">Fortnite</span><span class="has-text-weight-bold">Finder</span>
            </h1>

            <% if(!user) { %>

              <a href="/login" class="button is-default is-google-button">
                <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                <span class="has-text-weight-semibold is-google-text">
                  Sign in with Google+
                </span>
              </a>

            <% } else { %>
              <button class="button is-default is-google-button">
                <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                <span class="has-text-weight-semibold is-google-text">
                  <%= user.emails[0].value %>
                </span>
              </button>
            <% } %>
          </div>
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a>Finder</a></li>
            <li><a>How it works</a></li>
            <li><a>About us</a></li>
          </ul>
          <p class="menu-label">
            SETTINGS
          </p>
          <ul class="menu-list">
            <li>
              <a>Account</a>
              <ul>
                <li><a>Profile</a></li>
                <li><a>Preferences</a></li>
              </ul>
            </li>
            <li><a>My Teams</a></li>
          </ul>
          <p class="menu-label">
            Other
          </p>
          <ul class="menu-list">
            <li><a>Advertise with us</a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-10 main-content-column">
        <%- include(route) %>
      </div>
    </div>
  </body>

</html>
